body{
	background-color: navy;
}
h1{
	color: salmon;
}
h2{
	color: aquamarine;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: navy;
}

h1 span{
	color: blanchedalmond;
}